.tab-menu {
  @include flex(flex-start, center);
  padding: 1rem 1.5rem;
  .menu-item {
    margin-right: 0.5rem;
    display: block;
    background-color: $g08;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    transition: all 0.3s;
    font-size: 0.8rem;
    cursor: pointer;
    &:nth-last-child(1) {
      margin: 0;
    }
    &:hover {
      background-color: $g12;
    }
    &.focused {
      background-color: $positive;
      color: $w100;
    }
  }
}