.post-item {
  padding: 16px;
  color: $g80;
  @include flex(flex-start, stretch);
  .post-image {
    width: 9rem;
    height: 9rem;
    margin-right: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }
  .post-info {
    max-width: calc(100% - 10rem);
    @include flex(space-between);
    flex-direction: column;
    height: 9rem;
    .post-title {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 0.5rem;
    }
    .post-body {
      color: $g60;
      line-height: 1.5;
    }
    .date {
      color: $g40;
      font-size: 0.8rem;
    }
  }
  &.hero {
    background-color: $g04;
    .post-image {
      width: 20rem;
      height: 20rem;
    }
    .post-info {
      max-width: calc(100% - 21rem);
      height: 20rem;
      .post-title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}