.profile-card {
  @include flex(flex-start, center);
  background-color: $g04;
  padding: 2rem;
  .profile-image {
    width: 6.5rem;
    height: 6.5rem;
    background-color: $g08;
    border-radius: 4rem;
  }
  .info {
    max-width: calc(100% - 7.5rem);
    .top {
      font-size: 24px;
    }
  }
}