.section {
  background-color: $g04;
  border-radius: 1rem;
  overflow: hidden;
}
.section-title {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 600;
  color: $g40;
}
.recent-post {
  padding: 1rem 0.5rem;
  background-color: $g04;
}