.container {
  min-height: 100vh;
  max-width: 80rem;
  padding: 0 1.5rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  .content-pane {
    width: 48rem;
    margin-right: 1.5rem;
    .section-title {
      font-size: 1.5rem;
      padding: 1rem;
      font-weight: 600;
      color: $g40;
    }
    .recent-post {
      padding: 1rem 0;
      background-color: $g04;
    }
  }
  .side-pane {
    width: 27.5rem;
  }
}